body {
  background-color: #EFF2F1;
}

h5 {
  color: #4059AD;
  margin-bottom: 20%;
}

.row {
border-radius: 10px 10px 0 0;
}

.btn-primary {
  background-color: #4059AD;
  border-color: #4059AD;
}

#detail-card {
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 20px gray;
  width: 50%;
}

.show-header {
  background-color: #4059AD;
  color: white;
}