
.btn-primary {
  background-color: #4059AD;
  border-color: #4059AD;
}

.btn-outline {
  color: #4059AD;
  border-color: #4059AD;
}

.btn-outline:hover {
  background-color: #F4B942;
  color: white;
}